body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .app-container {
    text-align: center;
  }
  
  .center-content {
    max-width: 600px; /* adjust as needed */
    margin: auto;
  }